{% load custom_filters %}
<!DOCTYPE html>
<html>
<head>
    <title>/DIR/</title>
</head>
<body>
    <h1>Directory: {{dir}}</h1>
    {% if prev != "/dir/" %}
    <p>Parent: <a href="{{prev}}"> {{prev}} </a></p>
    {% else %}
    <p>No More parent Dirs</p>
    {% endif %}
    <ul>
        {%for d in dirs%}
            <li>
                <a href="{{d}}">{{d}}</a>
            </li>
        {%endfor%}
    <h1>files: {{dir}}</h1>
    <ul>
        {% for file in files %}
            <li>
                {% if file|is_image %}
                    <p> {{file}} </p>
                    <a href="{{file}}"><img src="{{ file }}" alt="Image"></a>
                {% else %}
                    {{ file }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>